#page{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    background:transparent;

}
#tipsCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    height: 80%;
    background-color: rgb(195, 26, 195);
    width: 60em;
}
#imageCont{
    gap: 20px;
    padding: 5% 50px;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 50%;
    flex-wrap: wrap;
    background-color: blue;
}
.img{
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.ImgText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.ImgText p {
    text-align: center;
    color: white;
}
#buttonCont{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#tallyInd{
    text-transform: uppercase;
    font-size: 20px;
    font-family: tahoma;
    color: white;
    
}
.button{
    width: 200px;
    height: 50px;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    animation: floating 3s  infinite;
}
.button:hover {
    transform: scale(1.07);
    animation: none;
}
#buttX:hover{
    color: white;
    background: red;
}
#buttO:hover{
    color: white;
    background: blue;
}
@keyframes floating {
    0%{transform: scale(1.00);}
    50%{transform: scale(1.07);}
    100%{transform: scale(1.00);}
}
@media screen and (max-width: 800px ),
    screen and (max-height: 700px)  {
    .ImgText p{
        font-size: 12px;
    }
    #tipsCont{
        width: 90%;
        height:90%
    }
    .img {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
    #imageCont {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        padding: none;
        width: 80%;
        height: 60%;
    }
    #buttonCont {
        height: 10%;
        width: 80%;
    }
}
@media screen and (max-width: 600px){
    #imageCont{
        flex-wrap:nowrap ;
        width: 75%;
    }
}