.table{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .tableCont{
    width: 30em;
    height: 30em;
} */
.XO{
    border: 1px solid black;
    width: 30em;
    height: 30em;
}

.tableData{
    background-color: white;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    /* transition: 400ms; */
    border: 1px solid black;
}
.changeNode{
    background-color: black;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    /* transition: 400ms; */
}